@model IEnumerable<Category>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">

        <!-- Kategorie -->
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("AllFilms", "Films")">Wszystkie filmy</a>
            </li>

            @foreach (var category in Model)
            {
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("CategoryFilms", "Films", new { categoryName = category.Name })">
                        @category.Name
                    </a>
                </li>
            }

        </ul>

        <!-- Wyszukiwarka -->
        @using (Html.BeginForm("Search", "Films", FormMethod.Get, new { @class = "d-flex" }))
        {
            @Html.TextBox("text", null, new { @class = "form-control me-2", placeholder = "Szukaj filmu..." })
            <button type="submit" class="btn btn-secondary">Szukaj 🔎</button>
        }

        <!-- Koszyk + logowanie -->
        <ul class="d-flex align-items-center gap-2 accounts">

            <li>
                <a class="btn btn-warning" href="@Url.Action("Register", "Account")">Zarejestruj</a>
            </li>
            @if (!User.Identity.IsAuthenticated)
            {

                <li>
                    <a class="btn btn-outline-light" href="@Url.Action("Login", "Account")"> Zaloguj </a>
                </li>
            }
            else
            {
                <li>
                    <a class="btn btn-outline-danger" href="@Url.Action("Logout", "Account")"> @User.Identity.Name, Wyloguj </a>
                </li>
            }

        </ul>

        <a class="menu-link text-white me-3" href="@Url.Action("Index", "Cart")">
            🛒(<span id="cartQuantity">@ViewBag.CartQuantity</span>)
        </a>

    </div>
</nav>