@model Film

<div>
    <table>
        <tr>
            <td>
                <h1>@Model.Category.Name</h1>

                @(await Component.InvokeAsync("SideMenu", new { categoryId = Model.CategoryId }))
            </td>
            <td>
                <img class="posters" src="~/content/grafiki/@Model.Poster"/>
            </td>
            <td>
                <ul>
                    <li>Tytuł: @Model.Title</li>
                    <li>Reżyser: @Model.Director</li>
                    <li>Opis: @Model.Desc</li>
                    <li>Cena: @Model.Price zł</li>
                </ul>
                <a style="margin: 0.5rem 0.5rem" class="btn btn-secondary" a href="@Url.Action("AddToCart", "Cart", new { id = Model.Id })">Dodaj do koszyka 🛒</a>
            </td>
            <td>
        </tr>
    </table>
</div>